<!DOCTYPE html>
<html>
<head>
    <title>山大服务助手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mytab.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/allneed.css"/>
    <!--需要初始化的变量值-->
    <style>
        .container{
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
    </style>
</head>
<body>
<header class="codrops-header">
    <h1>SXU Flea Market<span>free and cute～</span></h1>
</header>

<section style="display: none">
    <div class="tabs tabs-style-bar">
        <nav>
            <ul>
                <li><a href="/" class="icon icon-home home"><span>Home</span></a></li>
                <li><a href="#section-bar-2" class="icon icon-display selectmore"><span>Analytics</span></a></li>
                <li><a href="#section-bar-3" class="icon icon-upload"><span>Upload</span></a></li>
                <li><a href="/mysetting" class="icon icon-tools mysetting"><span>Settings</span></a></li>
            </ul>
        </nav>
    </div>
</section>
<div class="mytabs">
    <nav>
        <ul class="clearfix">
            <li><a href="/">首页</a></li>
            <li><a href="/mysetting">添加</a></li>
            <li><a href="/mysetting">设置</a></li>
            <li><a href="/help">帮助</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">关于这个网站-【SXU Flea Market】</h3>
        </div>
        <div class="panel-body">
            <div class="well well-lg">
                    <p>简介: 一个online的跳骚市场</p>
                    <p>技术: Python、Html5、CSS3、JQuery、Bootstrap</p>
                    它是响应式，所以无论在移动端还是PC端都可以很好的适配屏幕</p>
                    <p>All code is written by 初峻铭</p>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">使用指南</h3>
        </div>
        <div class="panel-body">
            <div class="well well-lg">
                    <p>1.你可以访问主页，浏览目前的所有二手物品(Tip:红色代表女生的，绿色代表男生的)</p>
                    <p>2.你需要发布一个二手物品</p>
                    <p>2.1 注册一个账号</p>
                    <p>3.打开设置面</p>
                    <p>3.1 在设置界面你可以浏览你发布的</p>
                    <p>3.2 在设置界面同样可以发布一个二手物品</p>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">联系我</h3>
        </div>
        <div class="panel-body">
            <div class="well well-lg">
                    <p>Email: winter1ife@163.com(中间为数字1)</p>
                    <p>QQ: 274075705</p>
            </div>
        </div>
    </div>
</div>
<div class="mytip" style="display: none">
    <span>添加成功</span>
</div>
<script src="../static/js/detail.js"></script>
<script src="../static/js/allneed.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>